@model TaskPlanner.Models.Board
@{
    ViewData["Title"] = "Board Index Page";
}

<div class="">
    <h1 class="">Add a Board</h1>
    <form method="post">

        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title)
        
        <input type="submit" value="Submit Form" />
    </form>
</div>
